---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import BaseHead from '@site-components/base-head/base-head.astro';
import DocumentationView from '@layouts/documentation-view/documentation-view.astro';

const components = (await getCollection('components'))
	.filter((component) => component.data.title !== 'Theme Toggle')
	.sort((a, b) => b.data.order - a.data.order)
	.reverse();
---

<DocumentationView>
	<ul class="components-grid">
		{
			components.map((component) => (
				<li class="components-grid__item">
					<a href={`/components/${component.slug}/`}>
						<Image
							src={component.data.image}
							width={600}
							height={300}
							alt={component.data.title}
							format="webp"
							loading="eager"
						/>
						<h4>{component.data.title}</h4>
						<p>{component.data.description}</p>
					</a>
				</li>
			))
		}
	</ul>
</DocumentationView>

<style scoped>
	.components-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: var(--spacing-xl);
	}

	.components-grid__item a {
		text-decoration: none;
		color: var(--color-font);
	}

	.components-grid__item img {
		background-color: hsl(229, 27%, 8%);
		width: 100%;
		object-fit: contain;
		border: var(--border-sm) solid var(--border-color-default);
		transition: var(--transition-short) ease-in;
	}

	.components-grid__item:hover img {
		animation: img-bounce 0.5s ease-in-out forwards;
	}

	@media (min-width: 768px) {
		.components-grid {
			grid-template-columns: 1fr 1fr;
		}
	}

	@keyframes img-bounce {
		0% {
			transform: translateY(0);
		}
		50% {
			transform: translateY(-0.5rem);
		}
		100% {
			transform: translateY(0);
		}
	}
</style>
